body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #da69c9;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

canvas {
    display: block;
    margin: 30px auto;
}
